# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.suo
*.sdf
*.opensdf

/Debug/*
/cuperplusplus/Debug/*
/cuperplusplus/cuperplusplus/Debug/*
/cuperplusplus/ipch/*
/cuperplusplus/cuperplusplus/ipch/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cuperplusplus/cuperplusplus.VC.opendb
